@model SalaSelezionataViewModel;
@{
	ViewData["Title"] = "Cinema";
}

<h1>Dettagli Sala</h1>

<table class="table table-striped table-bordered table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Ridotto</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var utente in Model.SalaSelezionata!)
		{
			<tr>
				<td>@utente.Nome</td>
				<td>@utente.Cognome</td>
				@if (utente.Tipo)
				{
					<td>Si</td>
				}
				else
				{
					<td>No</td>
				}
				<td>
					<a class="btn btn-warning" asp-controller="Cinema" asp-action="Edit" asp-route-id="@utente.Id">Edit</a>
					<a class="btn btn-danger" asp-controller="Cinema" asp-action="Delete" asp-route-id="@utente.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>


